.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  max-width: 430px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 520px) {
  .popup__container {
    padding: 25px 22px;
    max-width: 282px;
    margin: 0 19px 0 19px;
  }
}
